body {
    background-color: #effcf2
}

p {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 15px;
    margin: 2em;
}


/*header*/

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #457567;
    background-image: url();
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

    header .header-content {
        position: relative;
        width: 100%;
        text-align: center;
    }




p {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-left: 2em;
    margin-right: 2em;
}



/*organization information*/
.article-box {
    width: 275px;
    height: 375px;
    margin: 1em;
    /*display: flex;*/
    border: 5px solid #539e8a;
    background-color: white;
    float: left;
    /*box-shadow: rgba(50, 50, 50, 0.74902) 10px 5px 8px -2px;*/
}

    .article-box:hover {
        opacity: 0.6;
        border: 5px solid #457567;
        /*box-shadow: rgba(50, 50, 50, 0.74902) 13px 8px 18px -2px;*/
    }

.article-image {
    margin: 5px;
    padding: 3px;
    /*border: medium solid #539e8a;*/
    height: 250px;
    width: 250px;
    /*display: inline-block;*/
    /*float: left;*/
}

.article-box-text {
    margin-left: -10px;
    text-align: center;
    height: 250px;
    width: 275px;
    opacity: 0.6;
}

    .article-box-text p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }



/*navigation bar*/
nav {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: #539e8a;
    overflow: hidden;
    padding: 1em;
}

li {
    display: inline;
}

    li a {
        text-decoration: none;
        color: #f6c5c0;
        padding: 1em;
    }

        li a:hover {
            background-color: #457567;
        }