body {
    background-color: #effcf2
}

p {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 15px;
    margin: 2em;
}


/*header*/

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #457567;
    background-image: url();
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

    header .header-content {
        position: relative;
        width: 100%;
        text-align: center;
    }




p {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-left: 2em;
    margin-right: 2em;
}

/*navigation bar*/
nav {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: #539e8a;
    overflow: hidden;
    padding: 1em;
}

li {
    display: inline;
}

    li a {
        text-decoration: none;
        color: #f6c5c0;
        padding: 1em;
    }

        li a:hover {
            background-color: #457567;
        }
.volunteer{
    float:left;
    padding:0.1%;
    width:48%;
}
.not_ocean_volunteer{
    float:right;
    padding:0.1%;
    width:48%;
}
.not_ocean{
    float:right;
    border:solid;
    border-color:#457567;
    padding:0.1%;
    width:48%;
}
.limit{
    float:left;
    width: 48%;
    border:solid;
    border-color:#457567;
    padding:0.1%;
}
/*
.pic{
    display:flex;
}
*/
.pic_link{
    font-size:xx-small
}

/*
button{
    background-color: #457567;
    color:#ffffff;
    width:33%;
    height: 10%;
    align-content:center;
    border-color:#effcf2;
}

button:hover{
    background-color: #000000;
    color: white;
}

.about{
    float:left;
    z-index:5;
}
.contact{
    float:center;
}
.questions{
    float:right;
    width:34%;
}
.pic_size_about{
    float:left;
    height:100%;
    width:33%;
}
.pic_size_contact{
    float:left;
    width:33%;
    height:100%;
}
.pic_size_questions{
    float:left;
    width:34%;
    height:100%;
}


.sanchi_img{
    width:30%;
    background-image: url(sanchi.jpg);
    background-size: cover;
    background-color: #000000;
    border-radius: 50%;
    display: inline-flex;
    padding-top: 33%;
    float:left;
    align-content:center;
}

.toshani_img{
    width: 30%;
    background-image:url(toshani-cropped.jpg);
    background-size: cover;
    background-color: #000000;
    border-radius: 100%;
    display: inline-flex;
    padding-top: 34%;
    float: center;
    align-self: center;
}

.simran_img{
    width:30%;
    background-image: url(simran.jpg);
    background-size:cover;
    background-color: #000000;
    border-radius: 50%;
    display:initial;
    padding-top: 33%;
    float:right;
    align-content:center;
}
*/

.mission{
    text-align:center;
}


.container-photos {
    clear:both;
    text-align: center;
  }
      
  .photo-box {
    width: 266px;
    height: 375px;
    margin: 1em;
    /*display: flex;*/
    display: inline-block;
    /*box-shadow: rgba(50, 50, 50, 0.74902) 10px 5px 8px -2px;*/
}

.about-image {
    margin: 5px;
    padding: 3px;
    /*border: medium solid #539e8a;*/
    height: 250px;
    width: 250px;
    /*display: inline-block;*/
    /*float: left;*/
}

.photo-text {
    margin-left: -10px;
    text-align: center;
    font-size: 15px;
    height: 250px;
    width: 275px;
    opacity: 0.6;
}

    .photo-text p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }



 
